nav, #user_control, h1#daily {
  display: none;
}

ul.head {
  margin: 0;
  padding: 0;
  li { list-style-type: none; }
  li:nth-child(1) { float: left; }
  li:nth-child(2) { float: right; }
}

table#daily {
  clear: both;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 11px;
  tr {
    border: 1px solid black;
  }
  col {
    border: 1px solid black;
    &#number { width: 14.38em; }       
    &#name { width: 27.13em; }         
    &#location { width: 23.88em; }
    &#engineer { width: 12em; }   
    &#technician { width: 12em; } 
    &#meeting { width: 9em; }     
    &#task { width: 44.8em; }     
    &#task_due { width: 12em; }   
    &#proj_due { width: 12em; }   
  } 
}