<h1>Projects</h1>
<%= link_to "Add a project", new_project_path %>
<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Location</th>
  </tr>
<% @organization.projects.each do |project| %>
  <tr>
    <td><%= link_to project.project_num, project %></td>
    <td><%= project.name %></td>
    <td><%= project.location %></td>
  </tr>
<% end %>
</table>
