<h1>Details</h1>

<p>
  <strong>Project Number:</strong>
  <%= @project.project_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>