$user-control-height: 10px;
#user_control {
  float: right;
  position: relative;
  button {
    font-size: $user-control-height;
    z-index: 10;
  }
  ul.popup_menu {
    margin: 21px 0 0;
    padding: 0;
    z-index: 5;
    list-style-type: none;
    position: absolute;
    right: 1px;
    top: 0px;
    display: none;
    width: 80px;
    border: 1px solid #C5DBEC;
    background: #DFEFFC;
    font-size: $user-control-height;
    li {
      a {
        display: block;
        color: #2E6E9E;
        padding: 0.4em;
        &:hover { 
          background: #4B7399;
          color: white;
        }
      }
    }
  }
}