// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.projects {
  .placeholder {
    background-color: #cfcfcf;
  }

  .ui-nestedSortable-error {
    background:#fbe3e4;
    color:#8a1f11;
  }

  ul.tasks {
    margin: 0;
    padding: 0;
    list-style-type: none;
    ul {
      margin: 0 0 0 25px;
      padding: 0;
      list-style-type: none;
    }
    li {
      margin: 7px 0 0 0;
      padding: 0;
      div  {
        border: 1px solid white;
        padding: 3px;
        margin: 0;
      }    
    }
    &.ui-sortable li div {
      border: 1px solid black;
      cursor: move;
    }
  }
}

section {
  position: relative;
  border: 1px solid black;
  margin-top: 9px;
  padding: 15px;
  h2.fieldset {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1;
    margin: -9px 0 0; /* half of font size */
    background: white;
    padding: 0 3px;
  }
}