// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#todo {
  border: 1px solid white;
}
#todo.ui-sortable {
  border: 1px solid black;
  div {
    cursor: move;
  }
  input#task_ids_ {
    display: none;
  }
}
.sort-control {
  span {
    text-decoration: underline;
    cursor: pointer;
  }
  #save {
    display: none;
  }
}
ul.head {
  display: none;
}
table#daily {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 11px;
  tr {
    border: 1px solid black;
  }
  col {
    border: 1px solid black;
    &#number { width: 14.38em; }       
    &#name { width: 27.13em; }         
    &#location { width: 23.88em; }
    &#engineer { width: 12em; }   
    &#technician { width: 12em; } 
    &#meeting { width: 9em; }     
    &#task { width: 44.8em; }     
    &#task_due { width: 12em; }   
    &#proj_due { width: 12em; }   
  } 
}