// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
  span.complete {
    text-decoration: line-through;
  }
  .nested_tasks {
    margin-left: 30px;
    .nested_tasks .nested_tasks .nested_tasks {
      margin-left: 0;
    }
  }
}